/*CSS for the accordion example */
h1+h2 {
  color: blue;
}

div input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
}

input[type=checkbox] {
  width: 100%;
}

input[type=checkbox]:checked+p {
  background-color: red;
}

input[type=checkbox]:checked+h2+p {
  background-color: red;
}